############################
# microEUKscope: config.env
# =========================
# This file is sourced by:
#   - microEUKscope.sbatch 
############################

############################
# Environment setup
############################

# Absolute prefix path to the already-installed conda env.
# (Created once with: conda env create -p /abs/path/env -f environment.yml)
ENV_PREFIX="/path/to/conda/envs/microEUKscope"

############################
# Required inputs & outputs
############################

# Text file with sample list. One SAMPLE id per line, no header
SAMPLE_LIST="/path/to/sample_list"

# Directory with input contigs. For each SAMPLE, the pipeline picks exactly one:
#   ${SAMPLE}*.fa | ${SAMPLE}*.fasta | (optionally .fa.gz / .fasta.gz)
CONTIGS_DIR="/path/to/contigs"

# ---- Kaiju database paths (used by the pipeline when RUNNING Kaiju) ----
# Point KAIJU_DB_DIR to the folder that contains nodes.dmp and names.dmp.

KAIJU_DB_DIR="/path/to/kaiju_db"                     # must contain nodes.dmp, names.dmp
KAIJU_NODES="${KAIJU_DB_DIR}/nodes.dmp"
KAIJU_NAMES="${KAIJU_DB_DIR}/names.dmp"
KAIJU_FMI="/path/to/your/indexprefix.fmi"                   # used by Kaiju in the main pipeline, e.g.: ${KAIJU_DB_DIR}/JGI_myco_phyco_oct22_nr_euk_jan23.fmi

# Outputs
PROJECT_DIR="/path/your/project"
OUTPUT_DIR="${PROJECT_DIR}/output"         # per-sample working directory
STATS_DIR="${PROJECT_DIR}/stats"           # stats summaries (will be moved to SUMMARY_DIR)
SUMMARY_DIR="${OUTPUT_DIR}/summary"        # final stats + Krona HTML, per sample


# Optional Kaiju final taxa subset (0=off, 1=on)
DO_TAXON_SUBSET=0  # if 1: run an extra Kaiju pass and then keep the contigs whose taxon-lineage names match below TAXON_FILTERS.
TAXON_FILTERS="Fungi"     # e.g., "Fungi" or "Fungi Oomycota"
CASE_INSENSITIVE=0        # 0 = case-sensitive; 1 = case-insensitive grep (-i)


############################
# Algorithm params (normally unchanged)
############################

### TIARA

TIARA_THREADS=20  # tiara -t, number of CPU threads tiara uses.
TIARA_TF="all" # tiara --tf <classes...>
# Controls WHICH per-class FASTA outputs tiara writes in the run directory. "all" = writes all class FASTAs (eukarya, mitochondrion, plastid, archaea, bacteria, prokarya, unknown)

# Tiara size bins used by the script (used by seqkit)
BIN_S500_MIN=500 # min length of short contigs, in base pairs
BIN_S500_MAX=999 # max length of short contigs, in base pairs
BIN_S1000_MIN=1000 # min length of medium contigs, in base pairs
BIN_S1000_MAX=2999 # max length of medium contigs, in base pairs
BIN_3K_MIN=3000 # min length of long contigs, in base pairs

### Kaiju

KAIJU_THREADS=20 # kaiju -z, number of parallel threads Kaiju uses.
KAIJU_GREEDY_E=5 # kaiju -e, number of allowed mismatches/substitutions in Greedy mode.
KAIJU_GREEDY_S=75 # kaiju -s, minimum required match score in Greedy mode.
KAIJU_EVALUE=0.01   # kaiju -E, maximum E-value allowed for matches in Greedy mode. 0.01 is default, use 1000000 for effectively no E-value filter (as versions older than 1.9)
